<launch>
   <arg name="rate" default="10" />
   <node pkg="beginner_tutorials" type="publisher" name="publisher_node" args="$(arg rate)" respawn="false" output="screen"/>
   <node pkg="beginner_tutorials" type="subscriber" name="subscriber_node" respawn="false" output="screen"/>

   <arg name="record" default="false" />
   <arg name="bags_directory" value="$(find beginner_tutorials)/results"/>
   <node pkg="rosbag" type="record" name="rosbag_record_topics" args="record --duration=15 -o $(arg bags_directory)/bag /rosout /tf /chatter /rosout_agg" if="$(arg record)" />
</launch>
